@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body, html {
    margin: 0;
    padding: 0;
    background: #f00;
    height: 100vh;
    width: calc(100vw - 300px);
}
#container {
    background: #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
#video-container {
    position: fixed;
    display: block;
    width: calc(100vw - 500px);
    height: calc(100vh - 50px);
    background-color: #919191;
    background-size: auto auto;
    background-position: center;
}
#main-container {
    position: absolute;
    top: 0;
    left: 0;
}
#main {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    background: skyblue;
}
#scrubber {
    position: fixed;
    background: #FFF;
    bottom: 0;
    left: 0;
}
#sidebar {
    background: #f1f1f1;
    padding: 5px;
    height: 100vh;
    width: 400px;
    position: fixed;
    overflow-y: scroll;
    box-sizing: border-box;
}
#sidebar.normal {
    top: 0;
    right: 0;
}
#sidebar.hidden {
    top: 0;
    right: -100vw;
    z-index: 4;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
}
#graph {
    background: blue;
    display: block;
    width: 100%;
    height: 300px;
}
#table {
    font-family: "Source Sans Pro", sans-serif;
}
video, img {
    display: block;
    z-index: -333;
}
.scale-text {
    font: 12px "Consolas";
    display: inline-block;
    background: transparent;
    position: relative;
    z-index: 2;
}
input.scale-text {
    padding: 2px 4px;
}
.scale-text.not-editing {
    border: 2px transparent solid !important;
    user-select: none;
    cursor: pointer;
}
.scale-text.editing {
    background: #FFF;
    color: #000 !important;
}
.sidebar-item {
    margin-bottom: 15px;
    border-radius: 4px;
    background: #FFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.3);
    position: relative;
    padding: 6px;
    padding-top: 26px
}
.sidebar-item.hidden {
    display: none;
}
.handle-bar {
    background: #e8e8e8;
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px #FFF solid;
    border-bottom: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: grab;
}
.handle-bar .handle {
    background: black;
}
#toolbox {
    padding-bottom: 5px;
}
#toolbox .button {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: grey;
    margin: 0px;
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
    border: 4px #6c6c6c solid;
    box-sizing: border-box;
}
#toolbox .button:active {
    border: 0px #6c6c6c solid;
}

.sidebar-list ul {
    margin: 0;
    padding: 0;
}
.sidebar-list ul li, .scale-draggable {
    /* border-bottom: 1px grey solid; */
    font: 15px "Source Sans Pro", sans-serif;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}
.sidebar-list ul li:last-of-type, .scale-draggable {
    border: none;
}
.sidebar-list ul li:not(.selected):hover {
    background: #f6f6f6;
}
.sidebar-list ul li.selected {
    background: #e6e6e6;
}
.sidebar-list ul li .name, .scale-draggable .name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    user-select: none;
    -moz-user-select: none;
}
.dragpart {
    cursor: grab;
    display: inline-block;
}
.sidebar-list ul li .swath, .scale-draggable .swath {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red;
    vertical-align: middle;
}
.sidebar-list ul li .scale-display {
    height: 25px;
    width: 80px;
    border: 2px #000 dashed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: right;
    overflow: hidden;
}

.scale-display .scale-draggable {
    padding: 0px;
    padding-left: 10px;
}
.scale-display .scale-draggable .swath {
    width: 10px;
    height: 10px;
}

body > .scale-draggable {
    display: inline-block;
    background: #FFF;
    width: auto !important;
}
#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.295);
    overflow-y: scroll;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}
#modal-container.active {
    display: flex;
}
.modal {
    position: absolute;
    background: #FFF;
    border-radius: 10px;
    padding: 30px;
    display: none;
}
.modal.active {
    display: block;
}
.modal .modal-title {
    font: 25px "Source Sans Pro", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.modal .form-item {
    font: 16px "Source Sans Pro", sans-serif;
}
.modal .form-item + .form-item {
    margin-top: 20px;
}
.modal .form-item input[type="text"] {
    padding: 8px 10px;
    border: 1px lightgrey solid;
    border-radius: 3px;
}
.modal .form-item input[type="color"] {
    padding: 2px;
    border: 1px lightgrey solid;
    background: #FFF;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.modal .form-item label {
    margin-right: 20px;
    vertical-align: middle;
}
.modal .form-buttons {
    text-align: center;
    margin-top: 25px;
}
.modal .form-buttons button {
    font: 16px "Source Sans Pro", sans-serif;
    display: inline-block;
    background: #00b38c;
    border: none;
    color: #FFF;
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 10px;
    transition: all 0.2s;
}
.modal .form-buttons button:hover {
    opacity: 0.9;
}
.modal .form-buttons button:last-of-type{
    margin-right: 0px;
}
.autoComplete {
    font-family: sans-serif;
}